<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div>username: <%= username %></div>
    <div>id: <%= id %></div>
    <div>random:
        <% if(typeof asdf !== 'undefined') { %>
        <span><%= asdf %></span>
        <% } %>


    </div>
</body>
</html>